
{% extends 'layout.html.twig' %}
{% block title %}
{% endblock %}

{% block content %}
    <div class="container">
        <div class="card">
            <div class="title_item">
                <img src="/assets/images/wishing_well.png" alt="">
                <h2>2 Puits</h2>
                <p class="prod">Niveau 1</p>
            </div>
        </div>
        <div class="card">
            <div class="title_item">

                <img src="/assets/images/champs_ble.png" alt="">
                <h2>2 Champs</h2>
                <p class="prod">Niveau 1</p>
            </div>
        </div>
        <div class="card">
            <div class="title_item">
                <img src="/assets/images/enclos.png" alt="" onclick="">
                <h2> 1 Enclos </h2>
                <p class="prod">Niveau 1</p>
            </div>
        </div>
    </div>
{% endblock %}


