{% extends 'layout.html.twig' %}

{% block ress_bar %}{% endblock %}
{% block content %}
    {% block subtitle %}<h1 class="title_page">Connecte-toi</h1>{% endblock %}
    {% include 'user/_formconnect.html.twig' %}
{% endblock %}
{% block item %}{% endblock %}
